{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "parser": "html"
            }
        }
    ]
}
